<%= content_for(:content) do %>
    <footer class="main-footer">
      <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
      </div>
      <strong>Copyright &copy; 2018 <a href="http://www.bestpv.com">苏州微光网络科技有限公司</a>.</strong> All rights reserved.
    </footer>
    <!-- jQuery UI 1.11.4 -->
    <%# <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> %>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <!-- AdminLTE App -->
    <script src="/dist/js/adminlte.js?time=<%= Time.now.to_i%>"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/dist/js/demo.js"></script>
<% end %>